/* general styles */
.bubble { border:2px solid black; margin-bottom:10px;}

.left   { float:left;   }
.center { float:center; }
.right  { float:right;  }
.clear  { clear:both;   }
/* general styles */

/* header */
#header {
	width:100%; height:150px;
}
#header img {
	width:auto; height:150px;
}
/* header */

/* panel */
.panel {
	margin:20px 0px 0px 0px;
}

.panel .title {
	padding:5px 10px;
	vertical-align:middle;
}

.panel .enabled .tag {
	width:100px;
}
/* panel */